<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <title>magicBicycle || Amit</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <header>
          <h1>The Magic Bicyle</h1>
        </header>
      </nav>
      <br />
      <br />
      <div class="bicycleShop"><%AllTheBicycles%></div>
    </div>
  </body>
</html>
