<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/index.css" />
    <title>The Bicycle Shop</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <header>
          <h1>The Bicycle Shop</h1>
        </header>
      </nav>
      <div class="singleBicycle">
        <div class="singleBicycle_img">
          <img src="<%IMAGE%>" alt="<%NAME%>" />
        </div>
        <div class="singleBicycle_info">
          <div class="singleBicycle_name">
            <p><%NAME%></p>
          </div>

          <div class="singleBicycle_price">
            <p><%NEWPRICE%></p>
          </div>

          <div class="singleBicycle_desc">
            <p>
              An iconic bike brand with a specific niché orientated set of bikes
              on its range. All-City Cycles specializes in on-road riding only,
              hence the reason you’ll find a fine selection of Road, Gravel,
              Cyclocross, and Hybrid bikes. Something that sets them apart from
              other brands is the fact that most of the bikes’ frames are
              generally made of steel, and the components are of mid/higher-end
              range.
              <br />
              Canyon Bicycles are favored by seasoned cyclists, or by anyone who
              has been looking for bikes with plenty of engineering behind the
              build. Canyon has taken a different approach regards building and
              marketing – their focus is to build bikes that last a long time,
              and hold a great second-hand value. Although Canyon is
              German-based bike brand, Canyon USA was launched in 2017.
            </p>
          </div>
        </div>

        <div class="goBack">
          <a href="/">
            <svg class="icon icon-arrow">
              <use xlink:href="/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
